@font-face {
  font-family: 'MyriadPro-Light';
  src: url('../fonts/MyriadPro_Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro_Light/MyriadPro-Light.otf') format('opentype'), url('../fonts/MyriadPro_Light/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro_Light/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro_Light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro_Regular/MyriadPro-Reqular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro_Regular/MyriadPro-Reqular.otf') format('opentype'), url('../fonts/MyriadPro_Regular/MyriadPro-Reqular.woff') format('woff'), url('../fonts/MyriadPro_Regular/MyriadPro-Reqular.ttf') format('truetype'), url('../fonts/MyriadPro_Regular/MyriadPro-Reqular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HanaM";
  src: url("../fonts/HanaM/hanam.eot");
  src: url("../fonts/HanaM/hanam.eot#iefix") format("embedded-opentype"), url("../fonts/HanaM/hanam.woff") format("woff"), url("../fonts/HanaM/hanam.ttf") format("truetype"), url("../fonts/HanaM/hanam.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansCJKsc-Regular';
  src: url('../fonts/NotoSansChinese/NotoSansCJKsc-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.body_login {
  font-family: "MyriadPro-Light";
  background: #0b0c1d;
}
.body_login section {
  background: transparent;
  border: none;
}
.body_login section .login_box {
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body_login section .login_the_mandarin_logo {
  width: 360px;
}
.body_login section .form-group {
  margin-bottom: 0px;
}
.body_login section .form-group div {
  padding-left: 20px;
  padding-top: 5px;
}
.body_login section .form-group div input {
  height: 45px;
  border: 0px;
}
.body_login section div.col-sm-4 {
  padding: 5px 10px 0px 5px;
}
.body_login section div.col-sm-4 .form-footer {
  padding: 0px;
  margin: 0px;
}
.body_login section div.col-sm-4 .form-footer button {
  width: 100%;
  padding-right: 10px;
  height: 95px;
  background: white;
  color: #0b0c1d;
  font-size: 15px;
  border: 0px;
}
#postcode_1,
#postcode_2 {
  float: left;
  width: 100px;
}
#postcode_dash {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#postcodify_search_button {
  float: left;
  margin-left: 20px;
}
span[for=postcode_1] {
  float: left;
}
span[for=postcode_2] {
  float: left;
}
#all_list_of_clients img.logo_image {
  width: 93px;
  height: 93px;
}
#all_list_of_clients td.text-center {
  text-align: center !important;
}
#all_list_of_clients td {
  text-align: left;
  vertical-align: middle;
}
.table-dataTable tr td {
  vertical-align: middle !important;
}
dt.lvl_test {
  width: 50px;
}
dd.lvl_test {
  margin-left: 80px;
}
@-webkit-keyframes lock-collapse {
  from {
    height: 1200px;
  }
  to {
    height: 380px;
  }
}
@-moz-keyframes lock-collapse {
  from {
    height: 1200px;
  }
  to {
    height: 380px;
  }
}
@-o-keyframes lock-collapse {
  from {
    height: 1200px;
  }
  to {
    height: 380px;
  }
}
@-ms-keyframes lock-collapse {
  from {
    height: 1200px;
  }
  to {
    height: 380px;
  }
}
@keyframes lock-collapse {
  from {
    height: 1200px;
  }
  to {
    height: 380px;
  }
}
@-webkit-keyframes login-expand {
  from {
    height: 0;
  }
  to {
    height: 325px;
  }
}
@-moz-keyframes login-expand {
  from {
    height: 0;
  }
  to {
    height: 325px;
  }
}
@-o-keyframes login-expand {
  from {
    height: 0;
  }
  to {
    height: 325px;
  }
}
@-ms-keyframes login-expand {
  from {
    height: 0;
  }
  to {
    height: 325px;
  }
}
@keyframes login-expand {
  from {
    height: 0;
  }
  to {
    height: 325px;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-ms-keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom-down {
  from {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-ms-keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes zoom-up {
  from {
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    -webkit-transform: translate(-20px, 0);
    -ms-transform: translate(-20px, 0);
    -o-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    -o-transform: translate(20px, 0);
    transform: translate(20px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@-ms-keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  body:not(.sidebar-expanded) #content {
    display: block;
  }
  body:not(.sidebar-expanded) #sidebar {
    width: 60px;
  }
  body:not(.sidebar-expanded) #sidebar .nav-brand a span {
    display: none;
  }
  body:not(.sidebar-expanded) #header {
    left: 60px;
  }
  body:not(.sidebar-expanded) #header .navbar-fixed-top {
    left: 60px;
  }
}
@media (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  #base {
    left: -270px;
    -webkit-transition: left 0.15s ease-in;
    -o-transition: left 0.15s ease-in;
    transition: left 0.15s ease-in;
  }
  .open-menu #base {
    left: 0;
  }
  #header {
    left: 0;
    width: 100%;
  }
  #header .navbar-fixed-top {
    left: 0;
  }
  .open-menu #header {
    left: 270px;
  }
  .open-menu .navbar-fixed-top {
    position: absolute;
  }
  #content {
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  body:not(.sidebar-expanded) .sidebar-back {
    width: 60px;
  }
  body:not(.sidebar-expanded) .sidebar-search {
    position: relative;
    margin: 0;
  }
  body:not(.sidebar-expanded) .sidebar-search > a {
    display: block;
    padding: 7px 20px 7px 20px;
    margin-bottom: 10px;
    background-color: #0b0c1d;
    color: #7d7d86;
  }
  body:not(.sidebar-expanded) .sidebar-search > a .close-icon {
    display: none;
  }
  body:not(.sidebar-expanded) .sidebar-search > .form-group {
    display: none;
  }
  body:not(.sidebar-expanded) .sidebar-search.open > a {
    background-color: #252845;
  }
  body:not(.sidebar-expanded) .sidebar-search.open > a .search-icon {
    display: none;
  }
  body:not(.sidebar-expanded) .sidebar-search.open > a .close-icon {
    display: inline-block;
  }
  body:not(.sidebar-expanded) .sidebar-search.open > .form-group {
    position: absolute;
    z-index: 10;
    display: block;
    width: 270px;
    top: 0;
    left: 60px;
  }
  body:not(.sidebar-expanded) .main-menu > li {
    position: relative;
  }
  body:not(.sidebar-expanded) .main-menu > li .badge {
    display: none;
  }
  body:not(.sidebar-expanded) .main-menu > li.expanded > a {
    background-color: #252845;
  }
  body:not(.sidebar-expanded) .main-menu > li.expanded > a .title {
    display: block;
    position: absolute;
    left: 60px;
    padding: 12px 12px 12px 25px;
    top: -35px;
    height: 35px;
    background-color: #252845;
    color: #ffffff;
    white-space: nowrap;
    text-transform: initial;
    font-size: 14px;
    font-weight: 400;
    min-width: 270px;
  }
  body:not(.sidebar-expanded) .main-menu > li.active > a {
    background-color: #272b67;
    color: #ffffff;
  }
  body:not(.sidebar-expanded) .main-menu > li > a {
    padding: 20px 20px 20px 40px;
    -webkit-transition: padding 0.15s ease-in;
    -o-transition: padding 0.15s ease-in;
    transition: padding 0.15s ease-in;
  }
  body:not(.sidebar-expanded) .main-menu > li > a:before,
  body:not(.sidebar-expanded) .main-menu > li > a:after {
    content: " ";
    display: table;
  }
  body:not(.sidebar-expanded) .main-menu > li > a:after {
    clear: both;
  }
  body:not(.sidebar-expanded) .main-menu > li > a .title {
    display: none;
  }
  body:not(.sidebar-expanded) .main-menu > li > a:hover {
    background-color: #131524;
  }
  body:not(.sidebar-expanded) .main-menu > li > a .fa:first-child {
    color: inherit;
    margin-left: -20px;
  }
  body:not(.sidebar-expanded) .main-menu > li > ul {
    position: absolute;
    top: 0;
    left: 60px;
    -webkit-transition: left 0.15s ease-in;
    -o-transition: left 0.15s ease-in;
    transition: left 0.15s ease-in;
  }
  body:not(.sidebar-expanded) .main-menu > li > ul:before {
    display: none;
  }
  body:not(.sidebar-expanded) .main-menu > li > ul:after {
    display: none;
  }
  body:not(.sidebar-expanded) .main-menu > li > ul li {
    padding: 0;
    min-width: 270px;
  }
}
@media (max-width: 480px) {
  .sidebar-back {
    width: 0;
  }
  .open-menu .sidebar-back {
    width: 270px;
  }
}
@media (max-width: 480px) {
  .list-comments > li ul {
    padding-left: 20px;
  }
  .list-comments .comment-title {
    margin: 0 0 7px 0;
  }
  .list-comments .comment-reply {
    top: -80px;
  }
  .list-comments .comment-avatar {
    position: relative;
    float: none;
    display: block;
  }
  .list-comments .box-body {
    margin-left: 0;
  }
}
